.mainBody {
  margin-left: 5%;
  margin-right: 5%;
}

.textBox {
  padding-left:10%;
  padding-right:10%;
  font-family: 'Lora', serif;
  font-size: 1.3rem;
  text-align: center;
}

/*Carousel here*/
/* .carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px; 
}

.carousel-slide {
  display: flex;
  width: calc(100% * 3); /* change this to the total width of all slides 
  transition: transform 0.3s ease-in-out;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: black;
  cursor: pointer;
}

.carousel-prev {
  left: 0;
}

.carousel-next {
  right: 0;
} */